<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_DIR" value="c:/apache-tomcat-9.0.0.M22/webapps/jpa/logs" />
	
	<appender name="ERROR-FILE-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/error/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile_.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
	
	<appender name="FILE-ALL-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/info/info.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</Pattern>
        </layout>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
        </filter>
    </appender>

	<logger name="by.intexsoft.sjt" level="ERROR" additivity="false">
		<appender-ref ref="ERROR-FILE-LOG" />
	</logger>

	<logger name="by.intexsoft.sjt" level="ALL" additivity="false">
		<appender-ref ref="FILE-ALL-LOG" />
	</logger>

</configuration>